/** Common */
h1{
    color: #ff253a;
}

/** Đào Thị Thu Thảo - start */
/*Header: begin*/
#app{
    overflow: hidden ;
    position: relative;
}
/*Header*/
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: var(--black-color);
    z-index: 9999;
    padding: 30px 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-size: 3rem;
    color: var(--while-color);
    margin: 0 20px;
}
.navbar__list{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.navbar__item {
    font-size: 1.4rem;
    margin: 0 20px;
}
.navbar__item-link:hover{
    opacity: 0.8;
}
.navbar__item-link{
    color: var(--while-color);
    text-decoration: none;
}
.login-link, .cart-link, .search-link, .nav-link{
    color: var(--while-color);
    font-size: 2rem;
    margin-left: 15px;
}
.login-link:hover, .cart-link:hover, .search-link:hover, .nav-link:hover {
    opacity: 0.8;
}
/*Slider*/
/* Slideshow container */
.slideshow-container {
    width: 100%;
    margin-top: 75px;
}
/* Hide the images by default */
.mySlides {
    overflow: hidden;
    display: none;
}
.slider-img{
    width: 100%;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
/*modal*/
.modal__icon-close{
    font-size: 3rem;
    color: var(--while-color);
    float: right;
    margin-right: 90px;
    margin-top: 60px;
}
.modal__input{
    outline: none;
    border: none;
    background: transparent;
    color: var(--while-color);
    margin-left: 20%;
    width: 60%;
    font-size: 3.5rem;
    padding-top: 20%;
    border-bottom: 1px solid var(--border-color);

}
/*Content*/
.content{
    margin-top: 80px;
}
.content__title{
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;
    color: var(--black-color);
}
.products a {
    text-decoration: none;
    color: var(--black-color);
    padding: 5px 5px;
}
.product__item:hover{
    animation: fade ease 5s;
    transform: translateY(-1px);
}
.product__item{
    border-radius: 5px;
    border: 1px solid var(--border-color);

}
.product__item-img{
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.product__item-name{
    font-size: 1.5rem;
    margin: 10px 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

}
.product__item-price{
    font-size: 1.6rem;
    margin: 10px 10px;
    color: #717171;

}
.star-link{
    font-size: 1rem;
    margin: 0 10px 10px 10px;
}
/*Footer*/
.footer{
    margin-top: 80px;
    background: var(--black-color);
    overflow: hidden;
}
.footer-content{
    padding: 100px 0;
}
.footer__contact, .footer__follow{
    list-style-type: none;
    text-align: center;
}
.footer__contact-link{
    text-decoration: none;
    color: var(--while-color);
}
.footer__contact--title{
    color: var(--while-color);
    font-size: 3rem;
    margin: 30px 0;
}
.footer__contact-address, .footer__contact-email, .footer__contact-phone {
    font-size: 1.6rem;
    margin: 15px 0;
}
.footer__contact-img{
    margin-top: 20px;
}
.footer__follow-text{
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--while-color);
}
.facebook-link{
    display: block;
}
.footer__follow-icon{
    display: block;
}
.footer__follow-icon-link{
    font-size: 2rem;
    color: var(--while-color);
    margin: 0 10px;
    text-decoration: none;
}
.footer__follow-icon{
    margin-top: 30px;
}
.footer__follow-icon-link:hover{
    opacity: 0.8;
}
/*Search mobile*/
.search-mobile{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 0;
    background: var(--while-color);
    display: none;
}
.search-mobile__input{
    flex: 1;
    position: relative;
}
.search-mobile__input-text{
    list-style-type: none;
    border-radius: 5px;
    border: 2px solid black;
    outline: none;
    margin: 0 20px;
    font-size: 1.8rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 40px;
    width: 90%;
}
.icon-search{
    font-size: 2rem;
    position: absolute;
    right: 1.8%;
    top: 0px;
    padding: 6px 6px 5px 6px;
    border: 2px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: var(--while-color);
}
/*Products.html*/
/*Header sort mobile*/
.header__sort-bar{
    position: fixed;
    top: 56px;
    right: 0;
    left: 0;
    height:50px;
    list-style: none;
    /*display: flex;*/
    margin: 0 ;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    align-items: center;
    background: var(--while-color);
    display: none;
}
.header__sort-item{
    flex: 1;
}
.header__sort-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--border-color);
    text-align: center;
    position: relative;
    padding: 10px 0px;
    margin-right: 10px;
}
.header__sort-item--active .header__sort-link{
    color: var(--while-color);
    background: var(--black-color);
    z-index: 4;
}
.content-products{
    margin-top: 120px;
}
/*Nav mobile*/
.icon-exit{
    font-size: 2.5rem;
    float: right;
    padding: 10px 15px;
}
.nav-mobile::-webkit-scrollbar{
    display: none;
}
.nav-mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: 10;
    background: var(--while-color);
    transform: translateX(100%);
}
.nav-mobile__list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 10px 10px;
}
.nav-mobile__item{
    padding: 15px 10px;
    font-size: 1.8rem;
    color: var(--black-color);
}
.nav-mobile__link{
    text-decoration: none;
}
.nav-mobile__link:hover, .nav-btn:hover{
    opacity: 0.8;
}
.btn-login{
    background: rgb(199, 190, 190);
    text-align: center;
    font-size: 2rem;
    color: var(--black-color);
    padding: 10px 0;
    margin: 15px 0;
    width: 80px;
}
.icon-login{
    margin-right: 10px;
}
/*mobile category*/
.mobile-category{
    margin-top: 15px;
    display: none;
}
.mobile-category__list{
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    max-width: 100%;
    overflow-x: auto;
}
.mobile-category__item{
    flex-shrink: 0;
    margin-right: 15px;
}
.mobile-category__link{
    text-decoration: none;
    color: var(--while-color);
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
    width: 110px;
    height: 40px;
    display: block;
    border-radius: 5px;
    user-select: none;
    --webkit-user-select:none;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    padding: 10px 6px;
}
/* bỏ thanh scoll */
.mobile-category__list::-webkit-scrollbar{
    display: none;
}
.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{
    background-color: #646161;
    color: var(--while-color);
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
    color: var(--while-color);
    background-color: #3b3b3b;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link{
    background-color: #493636;
    color: var(--while-color);
}
/*products*/
.product__items{
    overflow: hidden;
}
.product_item-title{
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 0;
}
.product__items-list{
    list-style-type: none;
}
.product__item-link {
    text-decoration: none;
    font-size: 1.4rem;
}
.product__items-item:hover{
    opacity: 0.8;

}
.product__items-item{
    margin: 10px 0;
    color: var(--black-color);
    border-bottom: 1px solid var(--border-color);
    padding: 5px 0;
}
/* home-filter */
.home-filter{
    background-color: rgb(199, 190, 190);
    display: flex;
    align-items: center;
    padding: 12px 22px;


}
.home-filter__lable{
    font-size: 1.4rem;
    color: #555;
    margin-right: 12px;
}
.home-filter__page{
    display: flex;
    align-items: center;
}
.home-filter__btn{
    margin-right: 12px;
    min-width: 90px;
}
.home-filter__page{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.home-filter__page-btn{
    display: flex;
    text-decoration: none;

    background-color: var(--while-color);
    flex: 1;
}
.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current{
    background: var(--black-color);
    color: var(--while-color);
}
.home-filter__page-control{
    display: flex;
    border: 3px;
    overflow: hidden;
    background-color: var(--while-color);
    width:72px;
    height: 36px;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.3rem;
    color: #555;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}
/*Select*/
.select-input {
    height: 34px;
    padding: 0 12px;
    background-color: var(--while-color);
    min-width: 100px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: relative;

}
.select-input:hover .select-input__list {
    display: inline-block;
}
.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    background-color: var(--while-color);
    border-radius: 2px;
    list-style: none;
    padding: 10px 16px;
    display: NONE;
    z-index: 1;
}
.select-input__link {
    text-decoration: none;
    padding: 5px 0;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
}
.select-input__link:hover{
    opacity: 0.8;
}
.select-input__lable {
    font-size: 1.4rem;
}
.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}
/* Button style */
.btn.btn--primary{
    color: var(--while-color);
    background-color: var(--black-color);
}
/* Search history */
.modal__input:focus ~ .modal__history{
    display: block;
}
.modal__history{
    margin-right: 20% ;
    margin-left: 20%;
    border-radius: 2px;
    background-color: var(--while-color);
    border: 1px solid #ccc;
    display: none;
    overflow: hidden;
    margin-top: 5px;
}
.modal__history-history-heading{
    margin: 6px 12px;
    font-size: 1.6rem;
    color:var(--text-color);
}
.modal__history-history-list{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.modal__history-item{
    height: 38px;
    padding: 0 12px;
}
.modal__history-item:hover{
    background-color: #ece1e1;

}
.modal__history-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 38px;
}
.modal__history-select{
    border-left: 1px solid #EBEBEB;
    padding-left: 16px;
    position: relative;
    cursor: pointer;

}
.modal__history-select-lable{
    font-size: 1.4rem;
    color: var(--text-color);
}
.modal__history-select-icon{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 8px;
    position: relative;
    top: 1px;
}
/** Đào Thị Thu Thảo - end */


/** Nguyễn Hữu Kha - start */

/* Slider begin */
.product-slider {
    width: 100%;
    height: 330px;
    display: inline-block;
    position: relative;
    z-index: 101;
}

.product-slider-wrapper {
    width: 100%;
    height: 100%;
}

.product-slider__background {
    position: relative;
    display: block;
    width: 100%;
    min-width: 700px;
    height: calc(100% - 2px);
    margin: 1px 0;
    background-position: center 0;
    background-repeat: no-repeat;
    background-image: url("../img/product/slider.jpg");
}

.product-slider__title {
    position: absolute;
    top: 50%;
    left: 10%;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--black-color);
}
/* Slider end */

.product-container {
    position: relative;
    width: 100%;
    padding: 0;
    z-index: 100;
}

.product-container__inner {
    padding: 77px 0 40px 0;
}

.product-frame {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    float: none;
    margin: 21px 0 50px;
}

.product-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-content__text {
    display: block;
}

.product-content__img-wrapper {
    opacity: 1;
    transition: opacity 0.25s ease-in-out 0s;
    position: relative;
    width: 30%;
    margin: 0 0 0 50px;
    display: flex;
    justify-content: center;
}

.product-content__img {
    background-image: url("../img/product/granary/filmeyeshadow.jpg");
    width: 100%;
    display: flex;
    height: 389px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.product-content__text-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 60%;
}

.product-content__text__title {
    display: block;
    margin: 0 0 7px;
    font-weight: 400;
    word-wrap: break-word;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--black-color);
}

.product-price__old {
    padding: 0;
    margin-right: 8px;
}

.product-content__rating {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    line-height: 1.5;
    margin: 13px 0 3px;
}

.product-content__rating-description {
    position: relative;
    top: 2px;
    font-style: italic;
    margin-left: 8px;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--black-color);
    font-family: Cormorant,serif;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.product-content__rating-description:hover {
    color: var(--gray-color);
}

.product-content__details-description {
    position: relative;
    display: block;
    width: 70%;
    color: var(--gray-color);
    white-space: break-spaces;
    top: -10px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical;*/
    /*-webkit-line-clamp: 1;*/
}

.product-content__quantity-vs-purchase {
    display: flex;
}

.purchase-buttons {
    margin-left: 40px;
}

.product-content__add-to-wishlist {
    margin: 50px 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Cormorant,serif;
    font-size: 18px;
    font-style: italic;
    line-height: 24px;
    color: var(--text-color);
    font-weight: 100;
    text-decoration: none;
}

.product-content__add-to-wishlist:hover {
    color: var(--gray-color);
}

.product-content__add-to-wishlist__icon {
    margin-right: 10px;
}

.product-content__meta {
    display: block;
    width: 100%;
    margin-top: 37px;
}

.meta__sku-wrapper,
.meta__category-wrapper,
.meta__tag-wrapper {
    display: block;
    margin: 1px 0;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.meta__sku,
.meta__category,
.meta__tag {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.stay-in-touch {
    animation: flyup ease-in-out 0.8s;
}

@keyframes flyup {
    from {
        transform: translateY(280px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.stay-in-touch__title {
    width: 100%;
}

.stay-in-touch__title h2 {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.2rem;
    color: var(--black-color);
    text-align: center;
}

.stay-in-touch__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.stay-in-touch__form input {
    width: 70%;
    margin-right: 10px;
    padding: 10px 20px;
    border: 2px solid var(--border-color);
    color: var(--text-color);
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    outline: none;
    border-radius: 2px;
}

.stay-in-touch__form-description {
    width: 100%;
    margin: 10px;
    font-size: 14px;
    font-style: italic;
    color: var(--text-color);
    opacity: 0.7;
    font-family: Cormorant, serif;
}

.stay-in-touch__prevent {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.stay-in-touch__prevent input {
    margin-right: 8px;

}

.stay-in-touch__prevent label:hover {
    cursor: pointer;
    opacity: 0.8;
}

.stay-in-touch__prevent p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.15rem;
    color: var(--text-color);
    opacity: 0.7;
}

.product-content__tabs {
    width: 100%;
    margin: 50px 20px 0;
}

.product-content__tabs-list {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.product-content__tabs-item {
    padding: 20px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 200;
    color: var(--text-color);
    font-style: italic;
    /*font-family: Cormorant, sans-serif;*/
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
}

.product-content__tabs-item:hover {
    cursor: pointer;
    border: 1px solid var(--gray-color);
    /*animation: color linear 0.9s;*/
}

.product-content__tabs-item.tabs-active {
    border: 1px solid var(--gray-color);
}

.tabs-active {
    display: flex !important;
}

.product-content__tabs-content {
    margin: 30px 0 80px;
}

.tabs-content__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    color: var(--gray-color);
    white-space: break-spaces;
    width: 90%;
}

.tabs-content__info {
    display: flex;
    flex-wrap: wrap;
}

.tabs-content__info-weight,
.tabs-content__info-dimensions {
    font-size: 14px;
    color: var(--black-color);
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 100%;
    line-height: 1.5;
}

.tabs-content__info-weight span,
.tabs-content__info-dimensions span {
    color: var(--gray-color);
    font-size: 14px;
    text-transform: none;
    margin-left: 20px;
}

.tabs-content__info-weight span {
    margin-left: 65px;
}

.tabs-content__review {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tabs-content__review input,
.tabs-content__review textarea {
    width: 80%;
    margin-top: 20px;
    line-height: 2;
    font-style: italic;
    font-size: 16px;
    color: var(--gray-color);
    padding: 10px 20px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
    font-weight: 300;
    font-family: Cormorant,serif;
    text-align: left;
}

.tabs-content__review div {
    width: 80%;
    margin-top: 20px;
}

.tabs-content__review button {
    display: block;
}

#your-review-text {
    min-height: 300px;
}

.tabs-content__item {
    display: none;
}

.related-products {
    margin: 50px 20px 0;
}

.related-products__title {
    font-size: 24px;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.5;
}

.product-recommend-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}

.product-recommend {
    width: 300px;
    height: 550px;
    text-decoration: none;
    box-shadow: 1px 1px 3px var(--border-color);
    margin: 0 10px 20px;
}

.product-recommend:hover {
    transform: translateY(-3px);
}

.product-recommend__img {
    position: relative;
    display: block;
    width: 100%;
    min-width: 200px;
    height: 80%;
    background-position: center 0;
    background-repeat: no-repeat;
    background-image: url('../img/product/granary/kdream.jpg');
}

.product-recommend__info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.product-recommend__info-name {
    width: 100%;
    font-size: 16px;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.5;
    text-align: center;
}

.product-recommend__info-cost {
    width: 100%;
    font-size: 14px;
    color: var(--text-color);
    line-height: 3;
}

/** Nguyễn Hữu Kha - end */

/** Triệu Huệ Mẩn - start */
/*About us*/
.about-page{
    margin-top: 20px;
}
.about-page .about-container{
    width: 960px;
    max-width:calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
}
.col-md-12 {
    position: relative;
    width: 100%;
    padding: 0 15px;
}
.section-heading {
    margin-top: 80px;
    margin-bottom: 40px;
}
.section-heading .line-dec {
    width: 30px;
    height: 5px;
    background-color: cornflowerblue;
    margin-bottom: 12px;
}
.section-heading h2{
    font-size: 22px;
    font-weight: 700;
}
.col-md-6{
    flex: 1 0;
    padding: 0 15px;
    width: 50%;
}
.col-md-6 .left-img{
    width: 100%;
}
.about-page .right-content h3{
    font-size: 17px;
    font-weight: 700;
}
.about-page .right-content {
    font-size: 14px;
    line-height: 24px;
    color: #4a4a4a;

}
.right-content .about-text a{
    color: #4d70e3;
    text-decoration: none;
    font-size: 20px;
    /*line-height: 40px;*/
}
.right-content .about-share{
    margin-top: 20px;
    border-top: 1px solid #cccccc;
    padding: 15px 0;
    font-size: 16px;
}
.about-page .right-content span a{
    color: #cccccc;
    font-size: 20px;
}
.about-page .right-content span a:hover {
    background-color: #4d70e3;
    
}



/** Triệu Huệ Mẩn - end */

