/* Tablet and mobile */
@media (max-width:1023px){
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1024px){
    .logo{
        font-size: 2rem;
        margin: 0 10px;
    }
    .navbar__item{
        font-size: 1.2rem;
        margin: 0 15px;
    }
    .product_item-title{
        font-size: 1.2rem;
    }
    .product__item-link{
        font-size: 1.3rem;
    }
    .product__item-name{
        font-size: 1.3rem;
    }
    .home-filter__page-num{
        margin-right: 6px;
    }
}


/* Mobile */
@media (max-width: 739px){
    .logo, .footer__contact--title{
        font-size: 2rem;
    }
    .header-icon{
        display: none;
    }
    .nav-link{
        float: right;
        margin: 0 20px;
    }
    .content{
        margin-top: 20px;
    }
    .content__title{
        font-size: 2rem;
        margin: 15px 0;
    }
    .product__item{
        margin: 5px 5px;
    }
    .footer{
        margin-top: 20px;
    }
    .footer__contact{
        padding-bottom: 30px;
        border-bottom: 1px solid var(--while-color) ;
    }
    .footer-content {
        padding: 50px 0;
    }
    /*    Products*/
    .header__sort-bar{
        display: flex;
    }
    .home-filter{
        display: none;
    }
    .mobile-category{
        display: block;
    }
    .navbar__check:checked ~.nav-mobile{
        transform: translateX(0);
    }
    .search-mobile{
        display: flex;
    }
    .cart-link{
        color: black;
        float: right;
        font-size: 2rem;
        padding: 0 20px;
        margin-top: 6px;
    }
}