
/* Tablet and mobile ---------------------------------------*/

/* Tablet and mobile */

@media (max-width:1023px){

}


/* Tablet ----------------------------------------------------*/

/* Tablet */

@media (min-width: 740px) and (max-width: 1024px){

    .logo{
        font-size: 2rem;
        margin: 0 10px;
    }
    .navbar__item{
        font-size: 1.2rem;
        margin: 0 15px;
    }
    .login-link, .cart-link, .search-link, .nav-link {
        color: var(--white-color);
        font-size: 2rem;
        margin-left: 7px;
    }
    .product_item-title{
        font-size: 1.2rem;
    }
    .product__item-link{
        font-size: 1.3rem;
    }
    .product__item-name{
        font-size: 1.3rem;
    }
    .home-filter__page-num{
        margin-right: 6px;
    }

    /* Nguyễn Hữu Kha begin */

    .product-content__details-description {
        width: 90%;
    }

    .product-recommend-wrapper {

        justify-content: space-evenly;
    }

    .cart__title {
        padding: 28px 10%;
    }

    .filled-cart__title-bar {
        font-size: 13px;
    }

    .cart__title {
        padding: 36px 10%;
    }

    .quantity-buttons--plus,
    .quantity-buttons--minus,
    .quantity-buttons--number {
        height: 40px;
        line-height: 38px;
        font-size: 14px;
    }

    .buttons {
        padding: 6px 24px;
    }

    .related-products {
        margin: 30px 10px 0;
    }

    .filled-cart__item {
        padding: 10px;
    }

    .filled-cart__item-img {
        width: 80px;
        height: 80px;
    }

    .filled-cart__item-description {
        width: calc(100% - 94px);
        margin: 8px;
        font-size: 13px;
    }

    .filled-cart__item-quantity {
        width: 16%;
    }

    .filled-cart__item-price,
    .filled-cart__item-totalPrice {
        width: 8%;
    }

    .filled-cart__item-quantity .quantity-buttons--minus,
    .filled-cart__item-quantity .quantity-buttons--number,
    .filled-cart__item-quantity .quantity-buttons--plus {
        height: 28px;
        width: 36px;
        font-size: 12px;
        line-height: 26px;
    }

    .filled-cart__item-price,
    .filled-cart__item-totalPrice {
        font-size: 13px;
    }

    .filled-cart__item .filled-cart__item-delete-button .buttons {
        padding: 4px 20px;
        justify-content: flex-start;
    }

    /* Nguyễn Hữu Kha end */
}


/* Mobile ---------------------------------------------------*/

/* Mobile */
@media (max-width: 739px){
    .header{
        padding: 18px 0;
    }
    .slideshow-container{
        margin-top: 56px;
    }
    .logo, .footer__contact--title{
        font-size: 2rem;
    }
    .header-icon{
        display: none;
    }
    .nav-link{
        float: right;
        margin: 0 20px;
    }
    .content{
        margin-top: 20px;
    }
    .content__title{
        font-size: 2rem;
        margin: 15px 0;
    }
    .product__item{
        margin: 5px 5px;
    }
    .footer{
        margin-top: 20px;
    }
    .footer__contact{
        padding-bottom: 30px;
        border-bottom: 1px solid var(--white-color) ;
    }
    .footer-content {
        padding: 50px 0;
    }
    /*    Products*/
    .header__sort-bar{
        display: flex;
    }
    .home-filter{
        display: none;
    }
    .mobile-category{
        display: block;
    }
    .navbar__check:checked ~.nav-mobile{
        transform: translateX(0);
    }
    .search-mobile{
        display: flex;
    }

    .cart-link, .login-link{
        color: black;
        float: right;
        font-size: 2rem;
        padding: 0 ;
        margin-top: 6px;
    }
    /*Account*/
    .auth-form{
        width: 320px;
    }
    .auth-form_socials {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .auth-form__controls {
        margin-top: 15px;
    }
    .auth-form_socials--google{
        margin-top: 10px;
    }

    .icon-gg{
        margin-left: -15px;
    }
    .modal-account{
        z-index: 501;
    }



    /**/
    .content-account{
        margin-top: 70px;
    }
    .nav__information-orders-list{
        overflow-x: auto;
    }
    .nav__information-orders-list::-webkit-scrollbar{
       display: none;
    }
    .nav__information-orders-item{
        padding: 10px 20px;
        font-size: 1.4rem;
    }
    .order-status{
        padding: 15px 40px;
        font-size: 1.4rem;
    }

    .orders-information{
        display: block;
    }
    .orders-price{
        text-align: right;
        padding-bottom: 5px;
    }
    .order-total-amount__label{
        font-size: 1.4rem;
    }
    .orders-information__content-overview-title{
        font-size: 1.4rem;
    }
    .order-total-amount{
        padding: 13px 40px;
    }
    .my-account__form-label{
        text-align: left;
        min-width: 76px;
    }
    .my-account__top-title{
        font-size: 1.4rem;
    }
    .my-account__form-input{
        margin: 5px 0 0 0;
    }
    .my-account__form-change-password{
        display: block;
    }
    .nav__information-orders-content{
        margin: 10px 0 ;
    }
    .nav__information-personal-item, .nav__information-personal-purchase {
        padding: 4px 0;
    }
    .nav__information-personal-name{
        font-size: 1.4rem;
    }
    .nav__information-my-account-item {
        font-size: 1.2rem;
        padding: 5px 0 5px 33px ;
    }
    .my-account__top-text{
        font-size: 1.2rem;
    }

    /* Nguyễn Hữu Kha begin */
    .product-slider {
        height: 250px;
        margin-top: 55px;
    }

    .product-slider__background {
        background-position: left;
    }

    .product-container__inner {
        padding-top: 16px;
    }

    .product-slider__title {
        display: none;
    }

    .product-content__rating {
        margin: 0;
    }

    .product-content__img-wrapper {
        margin-left: 0;
    }

    product-content__img {
        height: 300px;
    }

    .product-content__text-wrapper {
          padding-left: 3%;
    }

    .product-content__text__title {
        text-align: left;
        margin-bottom: 20px;
        font-size: 26px;
    }

    .product-content__details-description p,
    .tabs-content__description {
        font-size: 14px;
    }


    .stay-in-touch .close-wrapper {
        display: none;
    }

    .stay-in-touch__title {
        margin-top: 36px;
    }

    .popup {
        position: absolute;

    .popup {
        position: fixed;

        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .popup-overlay {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.4);

        background-color: var(--black-color);
        opacity: 0.4;
        z-index: 110;
    }
    .product-content__img-wrapper {
        width: 100%;
        margin-bottom: 30px;
    }

    .product-content__text-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .product-content__details-description {
        width: 95%;
        text-align: left;
    }

    .tabs-content__description {
        width: 95%;
    }

    .tabs-content__review input,
    .tabs-content__review textarea {
        width: 95%;
    }

    .related-products__title {
        text-align: center;
    }

    .product-recommend-wrapper {
        justify-content: center;
    }

    .popup {
        width: 90%;
        height: 230px;
        padding: 10px 16px;
    }

    .product-content__tabs {
        margin: 50px 0 0 3%;
    }

    .product-content__tabs-item {
        padding: 10px;
        font-size: 14px;
    }

    .stay-in-touch__title h2 {
        font-size: 24px;
    }

    .stay-in-touch__form {
        margin-top: 10px;
    }

    .stay-in-touch__form button {
        padding: 5px 10px;
        line-height: 1.5;
        border-radius: 2px;
        font-size: 10px;
    }

    .stay-in-touch__form input {
        padding: 5px 10px;
    }

    .close-wrapper i {
        font-size: 12px;
    }

    .stay-in-touch__prevent {
        margin: 0;
    }

    .stay-in-touch__prevent p {
        font-size: 10px;
    }

    .quantity-buttons--plus,
    .quantity-buttons--minus,
    .quantity-buttons--number {
        height: 40px;
        line-height: 38px;

        line-height: 40px;
        font-size: 14px;
    }

    .buttons {
    padding: 6px 24px;
    }

    .related-products {
        margin: 30px 10px 0;
    }


    /* Cart */
    .cart__title {
        padding: 24px 5%;
    }

    .filled-cart {
        padding: 24px 5%;
    }

    .filled-cart__title-bar {
       display: none;
    }

    .filled-cart__item {
        width: 100%;
        padding: 16px;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        box-shadow: 0 1px 3px var(--gray-color);
    }

    .filled-cart__item ~ .filled-cart__item {
        margin-top: 16px;
    }

    .filled-cart__item .select-product {
        display: none;
    }

    .filled-cart__item-info {
        width: 100%;
        margin-bottom: 8px;
    }

    .filled-cart__item-img {
        width: 80px;
        height: 80px;
    }

    .filled-cart__item-description {
        width: calc(100% - 80px);
        font-size: 12px;
    }

    .filled-cart__item-price,
    .filled-cart__item-totalPrice {
        width: 20%;
        font-size: 12px;
    }

    .filled-cart__item-price {
        display: none;
    }

    .filled-cart__item-quantity {
        width: 44%;
        margin-left: 8px;
    }

    .filled-cart__item-quantity .quantity-buttons--minus,
    .filled-cart__item-quantity .quantity-buttons--number,
    .filled-cart__item-quantity .quantity-buttons--plus {
        height: 30px;
        width: 40px;
        font-size: 12px;
        line-height: 28px;
    }

    .filled-cart__item-delete-button {
        display: none;
    }

    /* empty cart */
    .cart__body > .empty-cart {
        padding: 30px 5%;
        margin: 60px 0;
    }

    .empty-cart__title {
        font-size: 24px;
    }

    .empty-cart__sub-title {
        font-size: 16px;
        margin-bottom: 12px;
    }


        /* Nguyễn Hữu Kha end */
    /* Nguyễn Hữu Kha end*/

}